---
import CustomTable from '@components/CustomTable.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Code } from 'astro/components';

import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('cmd');
    return posts.map((post: CollectionEntry<'cmd'>) => ({
        params: { cmd: post.slug },
        props: post,
    }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout pageTitle={post.data.title}>
    <p>{post.data.pubDatetime.toString()}</p>
    <p>{post.data.modDatetime.toString()}</p>
    <p><em>{post.data.description}</em></p>
    <p>著者: {post.data.author}</p>
    <img
        src={post.data.image?.url}
        width="300"
        alt={post.data.image?.alt}
    />
    <div class="tags">
        {
            post.data.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <Content />

    <p>jjjjjj</p>

    <Code code={`
    function greet(name) {
    console.log(\`Hello, \${name}!\`);
    }
    greet('Astro');
    `}
    lang="js"
    theme="github-dark"
    wrap={true}

    />
    <CustomTable>
        <Fragment slot="header"> <!-- テーブルのヘッダーを渡す -->
            <tr><th>商品名</th><th>在庫</th></tr>
        </Fragment>
        <Fragment slot="body"> <!-- テーブルのボディを渡す -->
            <tr><td>ビーチサンダル</td><td>64</td></tr>
            <tr><td>ブーツ</td><td>32</td></tr>
            <tr><td>スニーカー</td><td class="text-red-500">0</td></tr>
        </Fragment>
    </CustomTable>
</BaseLayout>
