---
import type { CollectionEntry } from 'astro:content';
import type { CmdFrontmatter } from '@/type';
import CustomTable from '@components/CustomTable.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { Page } from 'astro';
import { Code } from 'astro/components';
export interface Props {
    cmdFrontmatter: CmdFrontmatter;
}

// export interface Props {
//     pageCmd: Page<CollectionEntry<'cmd'>>;
// }
// const { pageCmd } = Astro.props;

const { cmdFrontmatter } = Astro.props;

// await pageCmd.render();
---

<BaseLayout pageTitle={cmdFrontmatter.title}>
    <p>{cmdFrontmatter.pubDatetime.toString()}</p>
    <p><em>{cmdFrontmatter.description}</em></p>
    <p>著者: {cmdFrontmatter.author}</p>
    <img
        src={cmdFrontmatter.image?.url}
        width="300"
        alt={cmdFrontmatter.image?.alt}
    />
    <div class="tags">
        {
            cmdFrontmatter.tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>

    <slot />

    <p>jjjjjj</p>

    <Code code={`
    function greet(name) {
    console.log(\`Hello, \${name}!\`);
    }
    greet('Astro');
    `} lang="js" />


    <CustomTable>
        <Fragment slot="header"> <!-- テーブルのヘッダーを渡す -->
            <tr><th>商品名</th><th>在庫</th></tr>
        </Fragment>
        <Fragment slot="body"> <!-- テーブルのボディを渡す -->
            <tr><td>ビーチサンダル</td><td>64</td></tr>
            <tr><td>ブーツ</td><td>32</td></tr>
            <tr><td>スニーカー</td><td class="text-red-500">0</td></tr>
        </Fragment>
    </CustomTable>
</BaseLayout>
<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
